// Clearfix.
@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

// Susy container.
@mixin container-length($size: false) {
  @include container(site-width('small'));

  @include breakpoint(breakpoint-size('narrow')) {
    @include container(site-width('narrow'));
  }
  @include breakpoint(breakpoint-size('normal')) {
    @include container(site-width('normal'));
  }
  @include breakpoint(breakpoint-size('wide')) {
    @include container(site-width('wide'));
  }
}

//
// At
//
// Use it only with classes which contains '@' character.
// Examples:
//   .header@small
//   .header@narrow
//   .header@normal
//
// .header {
//   // Small to narrow screens.
//   @include at(&, small, narrow) {
//     float: right;
//   }
//   @include at(&, narrow) {
//     float: left;
//   }
//   @include at(&, normal) {
//     float: none;
//   }
// }
//
@mixin at($selector, $breakpoint-start, $breakpoint-end: false) {
  @if $breakpoint-end {
    @include breakpoint(breakpoint-size($breakpoint-start) breakpoint-size($breakpoint-end, true)) {
      @at-root #{$selector}\@#{$breakpoint-start} {
        @content;
      }
    }
  }
  @else {
    @include breakpoint(breakpoint-size($breakpoint-start)) {
      @at-root #{$selector}\@#{$breakpoint-start} {
        @content;
      }
    }
  }
}
