* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.l-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.l-container::before, .l-container::after {
  content: "";
  display: table;
}

.l-container::after {
  clear: both;
}

@media (min-width: 640px) {
  .l-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .l-container::before, .l-container::after {
    content: "";
    display: table;
  }
  .l-container::after {
    clear: both;
  }
}

@media (min-width: 980px) {
  .l-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .l-container::before, .l-container::after {
    content: "";
    display: table;
  }
  .l-container::after {
    clear: both;
  }
}

@media (min-width: 1540px) {
  .l-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .l-container::before, .l-container::after {
    content: "";
    display: table;
  }
  .l-container::after {
    clear: both;
  }
}

@media (min-width: 1540px) {
  .l-container\@wide {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  .l-container\@wide::before, .l-container\@wide::after {
    content: "";
    display: table;
  }
  .l-container\@wide::after {
    clear: both;
  }
}

.c-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-header__regions {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c-logo {
  border-radius: 50%;
  max-height: 50px;
  vertical-align: bottom;
  width: auto !important;
}

.c-logo__wrapper {
  margin-right: 35px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 50px;
}

.c-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-navigation__list--level-1::before, .c-navigation__list--level-1::after {
  content: "";
  display: table;
}

.c-navigation__list--level-1::after {
  clear: both;
}

@media (min-width: 980px) {
  .c-navigation__list--level-2\@normal {
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), color-stop(10px, transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.07) 0%, transparent 10px);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.07) 0%, transparent 10px);
    left: 150px;
    opacity: 0;
    position: absolute;
    right: 150px;
    top: 100%;
    -webkit-transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s;
    visibility: hidden;
  }
  .c-navigation__list-item:hover > .c-navigation__list--level-2\@normal {
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
  }
  .c-navigation__list--level-2\@normal::before {
    content: "";
    border-color: #FFF transparent transparent transparent;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    height: 0;
    margin-left: -5px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
  }
}

.c-navigation__list--level-1 > .c-navigation__list-item {
  float: left;
}

.c-navigation__list--level-1 > .c-navigation__list-item:not(:last-child) {
  margin-right: 20px;
}

/*# sourceMappingURL=styles.css.map */
