* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.l-container {
  @include container-length();

  @include at(&, 'wide') {
    @include container(site-width(exception));
  }
}

.l-row {
  @include container();
  padding: {
    bottom: $space-s;
    top: $space-s;
  }
}

.l-col-10 {
  @include span(10 of 12);
}

.l-col-8 {
  @include span(8 of 12);
}

.l-col-6 {
  @include span(6 of 12);
}

.l-col-6-last {
  @include span(6 of 12 last);
}

.l-col-4-last {
  @include span(4 of 12 last);
}

.l-col-2-last {
  @include span(2 of 12 last);
}
